	body{
		background-color: #478bcc; 
	}

	.form-container{
		background-color: #f6f7f8;
		width: 400px;
		height: 700px;
		margin: 200px auto;
		border-radius: 4px;
		padding: 60px 75px 90px;		
	}
	h2 {
		font-weight: 100;
		margin-bottom: 30px;
		color: #478bcc;
	}
	label {
			color: #478bcc;
	}
	input {
			text-align: left;
			margin-top: 12px;
			margin-bottom: 30px;
			width: 380px;
			height: 60px;
			border-radius: 4px;
			border: 0.5px solid #edf0f2;
			font-size: 16px;
			color: #478bcc;	
	}
	button {
		width: 380px;
		height: 60px;
		background-color: #008000 ;
		color: #ffffff;
		border: none;
		font-size: 16px;
		margin-top: 20px;
	}
